﻿

    /* @font-face kit by Fonts2u (http://www.fonts2u.com) */
    
    @font-face {
        font-family: "Code 128";
        src: url("code128.eot?") format("../fnt/eot"), url("../fnt/code128.woff") format("woff"), url("../fnt/code128.ttf") format("truetype"), url("../fnt/code128.svg#Code128") format("svg");
        font-weight: normal;
        font-style: normal;
    }
    
    #glyphs .g {
        /*width: 89px; */
        text-align: center;
        border-right: 1px solid #eeeeee;
        /*

        */
        float: left;
        padding: 0px 8px 0 8px;
        margin: 1px 4px 5px 3px;
        min-height: 40px;
        white-space: nowrap;
        overflow: hidden;
        border: 1px solid #7d7d7d;
        border-radius: 13px;
    }
    
    .noborder {
        border: 0 !important
    }
    
    #glyphs p {
        font-size: 35px;
        margin: -7px 0px -5px 0px
        /*
        padding: 0;
         */
    }
    
    #p01cb {
        font-family: courier;
        font-size: 40%;
    }
    
    #p02cb {
        font-family: courier;
        font-size: 70%;
        f
    }
    
    #p03cb {
        font-family: courier;
        font-size: 60%;
        font-weight: bold;
    }